body {
    font-size: 40px;
    font-family: sans-serif; 
    text-align: center;
  }
  /* container position */
  #container {
    position: fixed;
    width: 100%; 
    bottom: 50%;
  }
  
  /* moving content styles */
  #movingContent {
    height: 50px;
    overflow: hidden;
  }
  
  /* nestes divs */
  #movingContent > div > div {
    display: inline-block;
    height: 50px;  
  }
  
  /* animation home */
  #movingContent div:first-child {
    animation: show 15s linear infinite;
  }
  
  /* keyframes */
  @keyframes show {
    0%  { margin-top: 0px; }  
    10% { margin-top: 0px; }  
  
    90% { margin-top: -300px; }
    100% { margin-top: 0px; }
  
  }